.text-platzi{
    color: #97c93e !important;
}
.btn-platzi{
    background-color: #97c93e !important;
    color: white!important;
}
.btn-platzi:hover{
    background-color: #82ad36 !important;
}
footer{
    background-image: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}
footer a{
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
nav img{

    width: 80px;
}
main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}
.carousel-inner{
    position: relative;
}
.carousel-inner .overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.carousel-inner .overlay .container, 
.carousel-inner .overlay .row{
    height: 100%;
}
#place-time img{
    max-width: 100%;
    filter: grayscale(.5);
}

#place-time div{
    background-color: #212529;
    color: white;
    
}